# Part 1

In [ ]:
import numpy as np
import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

import json # library to handle JSON files
import requests # library to handle requests

from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

from bs4 import BeautifulSoup # library to parse HTML and XML documents

print('Libraries imported.')

%matplotlib inline

In [5]:
URL = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
toronto = requests.get(URL)
toronto_df = pd.read_html(wiki_page.content, header = 0)[0]

In [8]:
toronto_df.head()

  Postal Code           Borough              Neighbourhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

In [10]:
'''
column_names = ['Borough', 'Neighborhood', 'Latitude', 'Longitude'] 

# instantiate the dataframe
neighborhoods_df = pd.DataFrame(columns=column_names)
'''

In [27]:
neighborhoods_df = toronto_df.copy()
neighborhoods_df.describe()

       Postal Code       Borough Neighbourhood
count          180           180           180
unique         180            11           100
top            M5L  Not assigned  Not assigned
freq             1            77            77

In [30]:
neighborhoods_df = neighborhoods_df[neighborhoods_df.Borough != 'Not assigned']
neighborhoods_df.describe()

       Postal Code     Borough Neighbourhood
count          103         103           103
unique         103          10            99
top            M5L  North York     Downsview
freq             1          24             4

In [33]:
neighborhoods_df.head()

  Postal Code           Borough                                Neighbourhood
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [36]:
len(neighborhoods_df['Postal Code'].unique())

==> Already more than one neighborhood can exist in one postal code area.

In [42]:
neighborhoods_df[neighborhoods_df.Borough == 'Not assigned']

Empty DataFrame
Columns: [Postal Code, Borough, Neighbourhood]
Index: []

==> There is not 'Not assigned' in neighborhood.

In [43]:
neighborhoods_df.shape

(103, 3)